<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<h2>Search in TMDb</h2>
<%# Part 5 here %>

<%= form_tag search_tmdb_path, method: :post, id: 'tmdb_form' do %>
  <%= label_tag :title, 'Movie Name' %>
  <%= text_field_tag 'title', nil, class: "form-control", id: "movie_title_field", placeholder: "Manhunter" %>
  
  <%= label_tag :release_year, 'Release Year' %>
  <%= text_field_tag 'release_year', nil, class: "form-control", id: "movie_year_field", placeholder: "1986" %>
  
  <div class="form-check">
    <%= radio_button_tag 'language', 'en', false, class: "form-check-input" %>
    <%= label_tag 'language_en', 'English Only', class: "form-check-label" %>
  </div>

  <div class="form-check">
    <%= radio_button_tag 'language', 'all', true, class: "form-check-input" %>
    <%= label_tag 'language_all', 'All Languages', class: "form-check-label" %>
  </div>
  
  <%= submit_tag 'Search', id: 'tmdb_submit', class: 'btn btn-warning col-2' %>
<% end %>

<%= link_to 'Back to movie list', movies_path, class: 'btn btn-primary' %>
