<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<h2>Search in TMDb</h2>
<%# Part 5 here %>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
    <%= value %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<%= form_tag search_tmdb_path, method: :post, id: 'tmdb_form' do %>
  <%= label_tag :title, 'Movie Name' %>
  <%= text_field_tag 'title', nil, class: "form-control", id: "movie_title_field", placeholder: "Manhunter" %>
  
  <%= label_tag :release_year, 'Release Year' %>
  <%= text_field_tag 'release_year', nil, class: "form-control", id: "movie_year_field", placeholder: "1986" %>
  <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
    <%= value %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
  <div class="form-check">
    <%= radio_button_tag 'language', 'en', false, class: "form-check-input" %>
    <%= label_tag 'language_en', 'English Only', class: "form-check-label" %>
  </div>

  <div class="form-check">
    <%= radio_button_tag 'language', 'all', true, class: "form-check-input" %>
    <%= label_tag 'language_all', 'All Languages', class: "form-check-label" %>
  </div>
  
  <%= submit_tag 'Search', id: 'tmdb_submit', class: 'btn btn-warning col-2' %>
  <%= link_to 'Back to movie list', movies_path, class: 'btn btn-primary' %>
<% end %>
 <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Movie Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Synopsis</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @movies_from_tmdb && @movies_from_tmdb.any? %>
      <tr>
        <<td><%= movie['title'] %></td>
      <td><%= movie['release_date'] %></td>
      <td><%= movie['vote_average'] %></td>
      <td><%= truncate(movie['description'], length: 100) %></td>
        <td>
          <%= form_tag add_movie_path, method: :post do %>
            <%= hidden_field_tag :title, movie['title'] %>
            <%= hidden_field_tag :release_date, movie['release_date'] %>
            <%= hidden_field_tag :rating, 'G' %>
            <%= hidden_field_tag :synopsis, movie['description'] %>
            <%= submit_tag 'Add', class: 'btn btn-success btn-sm' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


